<a href="https://colab.research.google.com/github/nialaila24/Kelas-Dasar_PSDS_PD4/blob/main/PSDS_Pertemuan__2__Variabel_dan_tipe_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAMA : Nia Andriani Laila

NIM : 2000015002

KELAS DASAR

#Variabel & Tipe Data

##Variabel

Variables: Lokal penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi. Syarat syarat penamaan variabel

1. Karakter karakter yang digunakan untuk penamaan variable adalah alphabet, angka dan underscore.
2. Karakter pertama variabel harus berupa huruf atau garis bawah/underscore, dan tidak bisa berupa angka
3. Nama sebuah variabel tidak bisa menggunakan keyword atau reserved words dari bahasa python seperti for, if dan lainnya
4. Karakter pada nama variabel bersifat sensitif (case-sensitif)

In [ ]:
# membuat variabel 
kalimat ='ini adalah variabel'
bilangan1 = 4
bilangan2 = 2.5
bilangan3 = True
bilangan4 = 1j + 4

In [ ]:
# menampilkan variabel 
print(kalimat)
print(bilangan1)
print(bilangan2)
print(bilangan3)
print(bilangan4)

ini adalah variabel
4
2.5
True
(4+1j)

##Tipe Data

5 tipe data yaitu

1. Integer atau bilangan bulat
2. Float atau bilangan desimal
3. string atau kalimat
4. Boolean yang terdiri dari True dan False
5. Complex yang merupakan bilangan kompleks

In [ ]:
# menampilkan tipe data
print(type(kalimat))
print(type(bilangan1))
print(type(bilangan2))
print(type(bilangan3))
print(type(bilangan4))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'complex'>

###Latihan 1

In [ ]:
#Buatlah 5 variabel kalian sendiri dengan 5 macam tipe data
#Lalu tampilkan variable menggunakan fungsi print
a = "Mahasiswa"
b = 1
c = 3.2
d = True
e = 2+1j

print('='*8)
print(a)
print(b)
print(c)
print(d)
print(e)

========
Mahasiswa
1
3.2
True
(2+1j)

###Konversi Tipe Data

syntax konversi tipe data
1.   Integer = int()
2.   Float = float()
3. String = str()
4. Boolean = bool()
5. Complex = Complex()

In [ ]:
# konversi tipe data integer
print(int(bilangan2))
print(int(bilangan3))

In [ ]:
# konversi tipe data float
print(float(bilangan1))
print(float(bilangan3))

In [ ]:
# konversi tipe data string 
print(str(bilangan1))
print(str(bilangan2))
print(str(bilangan3))

In [ ]:
# konversi tipe data bool
print(bool(bilangan1))
print(bool(bilangan2))

In [ ]:
# konversi tipe data complex
print(complex(bilangan1))
print(complex(bilangan2))
print(complex(bilangan3))

###Latihan 2

In [ ]:
# konversi tipe data integer
print(int(variabel1))
print(int(variabel2))
print(int(variabel3))