<a href="https://colab.research.google.com/github/nialaila24/Kelas-Dasar_PSDS_PD4/blob/main/PSDS_Pertemuan_3_List_dan_Data_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

NAMA : Nia Andriani Laila

NIM : 2000015002

KELAS DASAR

# List

List adalah jenis kumpulan data terurut (ordered sequence) dan merupakan salah satu dari variabel yang sering digunakan di phyton. Serupa namun tak sama dengan array pada bahasa pemrograman. Bedanya, elemen List pada Phyton tidak harus memiliki tipe data yang sama. Mendeklarasikan List cukup mudah dengan kurung siku dan elemen yang dipisahkan dengan koma. Setiap data didalamnya dapat diakses dengan indeks yang dimulai dari 0.

In [ ]:
#contoh list
L1 = [1,4,2,13]

print(type(L1))

<class 'list'>

In [ ]:
#menggunakan tipe data yang sama
L1 = [1,4,2,13]
L1

[1, 4, 2, 13]

In [ ]:
L2 = ["a","Python",3]
L2

In [ ]:
print(L1)
print(L2)

menampilkan elemen dengan menggunakan fungsi print

In [ ]:
matkul = ["fuzzy","pdp","metnum","graph"]
print(matkul[2])

metnum

##Latihan 1

In [ ]:
#Buatlah list kalian sendiri dengan tiga tipe data minimal enam elemen
# yang memakai tanda petik hanya tipe string
N = [1,"and",True,2,"blue",False]
print(N[2:-2])
print(N[-2])
print(N[2:5])
print(N[2:-1])
print(N[0:-1])
print(N[-2:1])
print(N[-2:-1])

[True, 2]
blue
[True, 2, 'blue']
[True, 2, 'blue']
[1, 'and', True, 2, 'blue']
[]
['blue']

Indeks di Python(List, Tuple) mulai dari 0

In [ ]:
#Sifat sifat List

#Terurut / Ordered
print("Memanggil List L1 dengan indeks ururtan:", L1[0:3])

#Bisa Diganti / Mutable
L1[1] = 2
print("List L1 setelah diganti elemennya:", L1)

L1 = [1, "dua", True, 2+3j]

#Dapat Diindeks  / Slicing
print("Slicing  List L1:", L1[3])

#Dapat Diijinkan Duplikasi 
L1 = [1, "dua", True, 2+3j, 2+3j]
print("Duplikasi pada List L1:", L1)

In [ ]:
#Ganti elemen yang ada pada List yang kalian buat

#Terurut / Ordered
print("Memanggil List A1 dengan indeks ururtan:", A1[0:6])

#Bisa Diganti / Mutable
A1[1] = 10
print("List A1 setelah diganti elemennya:", A1)

A1 = [3, "empat", True, 6+9j]

#Dapat Diindeks  / Slicing
print("Slicing  List A1:", A1[2])

#Dapat Diijinkan Duplikasi 
A1 = [2, "empat", True, 6+9j, 6+9j]
print("Duplikasi pada List A1:", A1)

In [ ]:
#mengganti elemen
N = [1,"and",True,2,"blue",False]
N[2]=False
print(N)

[1, 'and', False, 2, 'blue', False]

In [ ]:
#dapat diindeks/slicing
N = [1,"and",True,2,"blue",False]
print("slicing list N : ", N[3])

slicing list N :  2

# Struktur data tuple

Tuple adalah jenis dari struktur data yang tidak dapat diubah elemennya. Umumnya tuple digunakan untuk data yang bersifat sekali tulis dan dapat dieksekusi lebih cepat. Tuple didefinisikan dengan kurung dan elemen yang dipisahkan dengan koma.

In [ ]:
#Contoh Tuple
T1 = (1, "dua", True, 1+2j)
print("Ini adalah Tuple", T1)

In [ ]:
#Menampilkan tipe struktur data
type(T1)

###Latihan 1

In [ ]:
#Buatlah list kalian sendiri dengan tiga tipe data minimal enam elemen
N = (1,"and",True,2,"blue",False)
print("ini adalah data tuple : ", N)

ini adalah data tuple :  (1, 'and', True, 2, 'blue', False)

###Latihan 2

In [ ]:
# Buatlah tuple baru lalu gabungkan 3 tuple yang telah digunakan
N = (1,"and",True,2,"blue",False)
I = ("c",False)
A = (0.4,2.4)
name = N + I + A
print(name)

(1, 'and', True, 2, 'blue', False, 'c', False, 0.4, 2.4)

##Sifat Sifat Tuple

In [ ]:
#Terurut / Ordered
T1[0:3]

In [ ]:
#Tidak bisa diganti / Immutable
T1[2] = "manusia"

In [ ]:
#Dapat Diindeks / Slicing
print("elemen kedua dari tuple T1 adalah:", T1[1])

In [ ]:
#Dapat Diijinkan Duplikasi
T2 = (3, 2.4, True, 2.4)
T2

##Menggabungkan Tuple

In [ ]:
#Menggabungkan Tuple
T3 = T1 + T2
T3

###Latihan 3

In [ ]:
#Buatlah tuple kedua lalu gabungkan 2 tuple yang telah kamu buat 

B2 = (3, 1.3, True, 2.2)
B2

In [ ]:
#Menggabungkan antara Tuple1 dan Tuple2
B3 = B1 + B2
B3